WPF Application/VillageHut BIM System/VillageHut BIM System/Connected Services/VillageHut_ServerApplication/Service143.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9127/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/VillageHut_web_service.API.Model" />
  <xs:import schemaLocation="http://localhost:9127/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/VillageHut_web_service" />
  <xs:element name="login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="loginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/VillageHut_web_service.API.Model" minOccurs="0" name="loginResult" nillable="true" type="q1:ArrayOfLogin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="retrieveCategories">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="retrieveCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/VillageHut_web_service.API.Model" minOccurs="0" name="retrieveCategoriesResult" nillable="true" type="q2:ArrayOfCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="retrieveAllServices">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="retrieveAllServicesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/VillageHut_web_service.API.Model" minOccurs="0" name="retrieveAllServicesResult" nillable="true" type="q3:ArrayOfService" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="searchServices">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="input" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="searchServicesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/VillageHut_web_service.API.Model" minOccurs="0" name="searchServicesResult" nillable="true" type="q4:ArrayOfService" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="retrieveOverdueItems">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="retrieveOverdueItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/VillageHut_web_service.API.Model" minOccurs="0" name="retrieveOverdueItemsResult" nillable="true" type="q5:ArrayOfOverdueItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="searchOverdueItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="input" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="searchOverdueItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/VillageHut_web_service.API.Model" minOccurs="0" name="searchOverdueItemsResult" nillable="true" type="q6:ArrayOfOverdueItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="retrieveUpcommingReservations">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="retrieveUpcommingReservationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/VillageHut_web_service.API.Model" minOccurs="0" name="retrieveUpcommingReservationsResult" nillable="true" type="q7:ArrayOfUpcommingResv" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="searchUpcommingReservations">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="input" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="searchUpcommingReservationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/VillageHut_web_service.API.Model" minOccurs="0" name="searchUpcommingReservationsResult" nillable="true" type="q8:ArrayOfUpcommingResv" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="retrieveMessages">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="retrieveMessagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/VillageHut_web_service.API.Model" minOccurs="0" name="retrieveMessagesResult" nillable="true" type="q9:ArrayOfMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="retrieveTypes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="serId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="retrieveTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/VillageHut_web_service.API.Model" minOccurs="0" name="retrieveTypesResult" nillable="true" type="q10:ArrayOfType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="retrieveTransactions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="year" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="month" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="text" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="retrieveTransactionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/VillageHut_web_service.API.Model" minOccurs="0" name="retrieveTransactionsResult" nillable="true" type="q11:ArrayOfTransaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="retrieveItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="transId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="retrieveItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/VillageHut_web_service.API.Model" minOccurs="0" name="retrieveItemsResult" nillable="true" type="q12:ArrayOfTransItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="retrieveEmployees">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="retrieveEmployeesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/VillageHut_web_service.API.Model" minOccurs="0" name="retrieveEmployeesResult" nillable="true" type="q13:ArrayOfEmployee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="searchEmployees">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="input" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="searchEmployeesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/VillageHut_web_service.API.Model" minOccurs="0" name="searchEmployeesResult" nillable="true" type="q14:ArrayOfEmployee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="retrieveCustomers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="retrieveCustomersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/VillageHut_web_service.API.Model" minOccurs="0" name="retrieveCustomersResult" nillable="true" type="q15:ArrayOfCustomer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="searchCustomers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="input" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="searchCustomersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/VillageHut_web_service.API.Model" minOccurs="0" name="searchCustomersResult" nillable="true" type="q16:ArrayOfCustomer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="retrieveReserveDates">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="serId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="typeName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="retrieveReserveDatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/VillageHut_web_service.API.Model" minOccurs="0" name="retrieveReserveDatesResult" nillable="true" type="q17:ArrayOfReservedDate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="retrieveCart">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="retrieveCartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/VillageHut_web_service.API.Model" minOccurs="0" name="retrieveCartResult" nillable="true" type="q18:ArrayOfCart" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMaxEmpAutoGenNo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getMaxEmpAutoGenNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getMaxEmpAutoGenNoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMaxCusAutoGenNo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getMaxCusAutoGenNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getMaxCusAutoGenNoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMaxSerAutoGenNo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getMaxSerAutoGenNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getMaxSerAutoGenNoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMaxTransAutoGenNo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getMaxTransAutoGenNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getMaxTransAutoGenNoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IUDEmployeeDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/VillageHut_web_service.API.Model" minOccurs="0" name="recievedRecord" nillable="true" type="q19:Employee" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mode" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IUDEmployeeDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IUDEmployeeDetailsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IUDCustomerDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/VillageHut_web_service.API.Model" minOccurs="0" name="recievedRecord" nillable="true" type="q20:Customer" />
        <xs:element minOccurs="0" name="mode" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IUDCustomerDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IUDCustomerDetailsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IUDServiceDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/VillageHut_web_service.API.Model" minOccurs="0" name="serDetails" nillable="true" type="q21:Service" />
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/VillageHut_web_service" minOccurs="0" name="lstTypes" nillable="true" type="q22:ArrayOftbl_type" />
        <xs:element minOccurs="0" name="mode" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IUDServiceDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IUDServiceDetailsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IUDTransaction">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/VillageHut_web_service.API.Model" minOccurs="0" name="recievedTransaction" nillable="true" type="q23:Transaction" />
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/VillageHut_web_service.API.Model" minOccurs="0" name="lstReceivedCartItems" nillable="true" type="q24:ArrayOfCart" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IUDTransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IUDTransactionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cancelReserv">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cartId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="cancelReservResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cancelReservResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="isReturned">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cartId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="isReturnedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isReturnedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTransYear">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getTransYearResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/VillageHut_web_service" minOccurs="0" name="getTransYearResult" nillable="true" type="q25:ArrayOfproc_retrieveTransYearsResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCustomerNIC">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getCustomerNICResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/VillageHut_web_service" minOccurs="0" name="getCustomerNICResult" nillable="true" type="q26:ArrayOfproc_retrieveCusNICResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="searchDupUsernames">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="searchDupUsernamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchDupUsernamesResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>