WPF Application/VillageHut BIM System/VillageHut BIM System/Connected Services/VillageHut_ServerApplication/Service141.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/VillageHut_web_service.API.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/VillageHut_web_service.API.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfLogin">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Login" nillable="true" type="tns:Login" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLogin" nillable="true" type="tns:ArrayOfLogin" />
  <xs:complexType name="Login">
    <xs:sequence>
      <xs:element minOccurs="0" name="empId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="empName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="empPass" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Login" nillable="true" type="tns:Login" />
  <xs:complexType name="ArrayOfCategory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Category" nillable="true" type="tns:Category" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCategory" nillable="true" type="tns:ArrayOfCategory" />
  <xs:complexType name="Category">
    <xs:sequence>
      <xs:element minOccurs="0" name="catId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="catName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Category" nillable="true" type="tns:Category" />
  <xs:complexType name="ArrayOfService">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Service" nillable="true" type="tns:Service" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfService" nillable="true" type="tns:ArrayOfService" />
  <xs:complexType name="Service">
    <xs:sequence>
      <xs:element minOccurs="0" name="catId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="catName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="serDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="serId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="serImg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="serIsDeleted" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="serIsItem" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="serName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Service" nillable="true" type="tns:Service" />
  <xs:complexType name="ArrayOfOverdueItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OverdueItem" nillable="true" type="tns:OverdueItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOverdueItem" nillable="true" type="tns:ArrayOfOverdueItem" />
  <xs:complexType name="OverdueItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="cartId" type="xs:int" />
      <xs:element minOccurs="0" name="cusNIC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cusName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dueDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="qty" type="xs:int" />
      <xs:element minOccurs="0" name="serId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="serName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="transId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OverdueItem" nillable="true" type="tns:OverdueItem" />
  <xs:complexType name="ArrayOfUpcommingResv">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UpcommingResv" nillable="true" type="tns:UpcommingResv" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUpcommingResv" nillable="true" type="tns:ArrayOfUpcommingResv" />
  <xs:complexType name="UpcommingResv">
    <xs:sequence>
      <xs:element minOccurs="0" name="cartId" type="xs:int" />
      <xs:element minOccurs="0" name="cusNIC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cusName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="reservedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="serId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="serName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="transId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UpcommingResv" nillable="true" type="tns:UpcommingResv" />
  <xs:complexType name="ArrayOfMessage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Message" nillable="true" type="tns:Message" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMessage" nillable="true" type="tns:ArrayOfMessage" />
  <xs:complexType name="Message">
    <xs:sequence>
      <xs:element minOccurs="0" name="msgContent" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="msgDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="msgId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Message" nillable="true" type="tns:Message" />
  <xs:complexType name="ArrayOfType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Type" nillable="true" type="tns:Type" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfType" nillable="true" type="tns:ArrayOfType" />
  <xs:complexType name="Type">
    <xs:sequence>
      <xs:element minOccurs="0" name="typeAvailableQty" type="xs:int" />
      <xs:element minOccurs="0" name="typeId" type="xs:int" />
      <xs:element minOccurs="0" name="typeMaxQty" type="xs:int" />
      <xs:element minOccurs="0" name="typeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="typePricePItem" type="xs:double" />
      <xs:element minOccurs="0" name="typeSerId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Type" nillable="true" type="tns:Type" />
  <xs:complexType name="ArrayOfTransaction">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Transaction" nillable="true" type="tns:Transaction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTransaction" nillable="true" type="tns:ArrayOfTransaction" />
  <xs:complexType name="Transaction">
    <xs:sequence>
      <xs:element minOccurs="0" name="cusId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cusNIC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cusName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="empId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="empNIC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="empName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="transDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="transId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="transMonth" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="transPrice" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Transaction" nillable="true" type="tns:Transaction" />
  <xs:complexType name="ArrayOfTransItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TransItem" nillable="true" type="tns:TransItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTransItem" nillable="true" type="tns:ArrayOfTransItem" />
  <xs:complexType name="TransItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="serId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="serName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="serQty" type="xs:int" />
      <xs:element minOccurs="0" name="serType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransItem" nillable="true" type="tns:TransItem" />
  <xs:complexType name="ArrayOfEmployee">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Employee" nillable="true" type="tns:Employee" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmployee" nillable="true" type="tns:ArrayOfEmployee" />
  <xs:complexType name="Employee">
    <xs:sequence>
      <xs:element minOccurs="0" name="credUsername" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="emId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="emNIC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="emName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="emdAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="emdPhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="emdSalarey" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Employee" nillable="true" type="tns:Employee" />
  <xs:complexType name="ArrayOfCustomer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Customer" nillable="true" type="tns:Customer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomer" nillable="true" type="tns:ArrayOfCustomer" />
  <xs:complexType name="Customer">
    <xs:sequence>
      <xs:element minOccurs="0" name="cusAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cusId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cusNIC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cusName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cusPhone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Customer" nillable="true" type="tns:Customer" />
  <xs:complexType name="ArrayOfReservedDate">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReservedDate" nillable="true" type="tns:ReservedDate" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReservedDate" nillable="true" type="tns:ArrayOfReservedDate" />
  <xs:complexType name="ReservedDate">
    <xs:sequence>
      <xs:element minOccurs="0" name="noOfdays" type="xs:int" />
      <xs:element minOccurs="0" name="qty" type="xs:int" />
      <xs:element minOccurs="0" name="serId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="serType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="startingDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReservedDate" nillable="true" type="tns:ReservedDate" />
  <xs:complexType name="ArrayOfCart">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Cart" nillable="true" type="tns:Cart" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCart" nillable="true" type="tns:ArrayOfCart" />
  <xs:complexType name="Cart">
    <xs:sequence>
      <xs:element minOccurs="0" name="isCancelled" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isReturned" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="itemQty" type="xs:int" />
      <xs:element minOccurs="0" name="itemTotalPrice" type="xs:double" />
      <xs:element minOccurs="0" name="noOfDays" type="xs:int" />
      <xs:element minOccurs="0" name="reservedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="serId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="serName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="serType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="transId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cart" nillable="true" type="tns:Cart" />
</xs:schema>